

<head>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
</head>

<div class="card bg-light">
<article class="card-body mx-auto" style="max-width: 400px;">
	<h4 class="card-title mt-3" style="font-family: consolas;">Resend confirmation instructions</h4>



<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">

    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
     </div>
    <%= f.email_field :email, autofocus: true, autocomplete: "email",class: "" , placeholder: "Email address", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
    </div>
  </div>


  <div class="actions">
    <%= f.submit "Resend confirmation instructions" ,class: "btn btn-info" %>
  </div>
  <%= render "devise/shared/links" %>
    </div>
<% end %>


