<head>
   <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  
</head>


<%= form_with(model: notice, local: true) do |form| %>
  <% if notice.errors.any? %>
    <div id="error_explanation" >
      <h2><%= pluralize(notice.errors.count, "error") %> prohibited this notice from being saved:</h2>

      <ul>
        <% notice.errors.full_messages.each do |message| %>
          <li><%= message %></li>

        <% end %>
      </ul>
    </div>


  <% end %>

  <div class="form-inputs">

  <div style="margin-left: 40px;margin-right: 40px" > </div>
  </div>

  <div class="row" style="margin-left: 15%;" >
    <div class="col-6"  style=""><%= form.label :Circular_Title  %></div>
    <div class="col-5" style="margin-left: -5%;margin-top: -10px" >  <%= form.text_field :Circular_Title ,class: " form-control mb-2 mr-sm-2",:required => true %></div>
  </div>

  <div style="margin-left: 20px">
   <br>
    <%= form.file_field :Select_File,:required => true %>
    <br>
    <br>
  </div>

  <div class="form-actions">
    <div style="padding-bottom: 20px"><%= form.submit :create  ,class: "btn btn-info" %></div>
  </div>
<% end %>
