<head>
  <title>Form</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <style >

    .cardd {
      margin:50% ;
      margin-bottom: 10px; /* Added */
      width: 50%

    }
  </style>

  <nav class="navbar navbar-expand-md navbar-dark bg-dark ">
    <div class="mx-auto order-0">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">


      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
        <li><a ><a class="btn btn-info ml-auto mr-1 btn-md bg-info" style="color: white ;" href="/notices"> Dashboard</a></a></li>
        </li>&nbsp
        <li><a ><a class="btn btn-info ml-auto mr-1 btn-md bg-info" style="color: white" href="/users/sign_out"> Logout</a></a></li>
        </li>
      </ul>
    </div>
  </nav>
</head>
<body>
<div class="container-fluid h-100 " style="margin-bottom: 10%" >
  <div class="row justify-content-center align-items-center h-100 " >
    <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3" style="font-family: consolas;">

      <div class="card text-center" style="margin-top: 30px">

<h3>Editing Notice</h3>
<br>
<%= render 'form', notice: @notice %>

<%= link_to 'Show', @notice %>
<%= link_to 'Back', notices_path %>
      </div></div></div></div>
</body>